.knowledgebase {
    @import url('https://fonts.googleapis.com/css?family=Karla');
    @import "../lib/bootstrap/scss/functions";
    @import "../lib/bootstrap/scss/variables";
    @import "components/learn-page";
    @import "components/list-article-content";

    body, a, h1, h2, h3, h4, h5, h6, p, span, div, button {
        font-family: 'Karla', sans-serif;
    }

    table.grid {
        background-color: $white;
        border: solid 5px $white;

        tr:nth-child(even) {
            background-color: $gray-100;
        }
    }
}
