.learn {
    $default-green: #42AAA9;
    display: flex;
    flex-direction: row;

    .accordion {
        width: 100%;

        .highlighted {
            font-weight: bolder;
        }

        .card-header {
            color: $default-green;

            button {
                color: $default-green;
            }
        }

        .card-body {
            .add-article {
                margin-top: -70px;
                margin-bottom: 50px;
            }

            .article {
                padding: 5px;
                border-radius: 5px;

                &:nth-child(odd) {
                    background-color: $gray-200;
                }
            }
        }
    }

    .list-items {
        .item {
            .subject {
                i {
                    color: $black;
                }
            }
        }
    }

    .list-group {
        font-size: 2em;
    }
}
